.ElementShopPanel{width: 100%;height: 100%;overflow: clip;}

.btnleft{/*按钮集齐静态*/
         width :70px;
         height: 70px;
         color:#00454D;
         font-size: 30px;
         text-align:center;
         border: 7px;
         border-radius: 20px;
         box-shadow: 0px 0px 10px 0px #01bcff;
         font-weight: bold;
         background-color: gradient( linear, 0% 0%, 0% 55%, from( #fbfbfbff ), color-stop( 0.3, #ebebebff ), to( #c0c0c0c0 ) );
}

.btnleft:hover{/*按钮集齐鼠标悬浮*/
         color:#e66465;
         box-shadow: 1px 2px 10px rgba(255,76,106,0.75);
}

#ElementShop{/*按钮位置*/
margin-top: 650px;margin-left:20px;
}
#readytext {horizontal-align: center;vertical-align: center;
   text-transform: uppercase;
   font-family:Radiance,FZLanTingHei-B-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
}

 #ShopInfo
{/****列表面板*****/
  horizontal-align: left;
  margin-left:100px;
  margin-top:630px;
  background-color: gradient( linear, 0% 0%, 0% 55%, from( #fbfbfbff ), color-stop( 0.3, #ebebebff ), to( #c0c0c0c0 ) );
}




 .ElementShopText
 {/****按钮的闪烁动画*****/
    animation-name: OpacityPulse;
    animation-duration: .82s;
    animation-iteration-count: infinite;
 }
 @keyframes 'OpacityPulse'
 {
     0%     {         text-shadow: 0px 0px 0px #CC22CC;     }
     50%    {         text-shadow: 0px 0px 15px #CC22CC,0px 0px 20px #CC22CC,0px 0px 25px #CC22CC;     }
     100%   {         text-shadow: 0px 0px 0px #CC22CC;     }
 }



 .ShopInfoAnim
 {/****显示的动画*****/
    animation-name: CreateAnim;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
 }
 @keyframes 'CreateAnim'
 {/****显示的动画*****/
     0%   {  transform: translate3d( -80px,  20px, 0px ); }
     100% {  transform: translate3d(   0px,   0px, 0px ); }
 }

